In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('WA_Fn-UseC_-Sales-Win-Loss.csv')
df

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,0,5,5,0,Unknown,0.69636,0.113985,0.154215,1
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,0,3,5,0,Unknown,0.00000,1.000000,0.000000,1
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,7750,1,1,0,Unknown,1.00000,0.000000,0.000000,1
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,0,1,1,0,Known,1.00000,0.000000,0.000000,1
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,69756,1,1,0,Unknown,0.00000,0.141125,0.000000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78020,10089932,Batteries & Accessories,Car Accessories,Southeast,Reseller,0,Loss,2,0,0,250000,1,1,3,Unknown,0.00000,0.000000,0.000000,6
78021,10089961,Shelters & RV,Performance & Non-auto,Northeast,Reseller,0,Won,1,0,0,180000,1,1,0,Unknown,0.00000,0.000000,0.000000,5
78022,10090145,Exterior Accessories,Car Accessories,Southeast,Reseller,0,Loss,2,0,0,90000,1,1,0,Unknown,0.00000,0.000000,0.000000,4
78023,10090430,Exterior Accessories,Car Accessories,Southeast,Fields Sales,0,Loss,2,0,0,120000,1,1,0,Unknown,1.00000,0.000000,0.000000,5
78024,10094255,Interior Accessories,Car Accessories,Mid-Atlantic,Reseller,0,Loss,1,0,0,90000,1,1,0,Unknown,0.00000,0.000000,0.000000,4

In [3]:
df.drop_duplicates()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,0,5,5,0,Unknown,0.69636,0.113985,0.154215,1
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,0,3,5,0,Unknown,0.00000,1.000000,0.000000,1
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,7750,1,1,0,Unknown,1.00000,0.000000,0.000000,1
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,0,1,1,0,Known,1.00000,0.000000,0.000000,1
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,69756,1,1,0,Unknown,0.00000,0.141125,0.000000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78020,10089932,Batteries & Accessories,Car Accessories,Southeast,Reseller,0,Loss,2,0,0,250000,1,1,3,Unknown,0.00000,0.000000,0.000000,6
78021,10089961,Shelters & RV,Performance & Non-auto,Northeast,Reseller,0,Won,1,0,0,180000,1,1,0,Unknown,0.00000,0.000000,0.000000,5
78022,10090145,Exterior Accessories,Car Accessories,Southeast,Reseller,0,Loss,2,0,0,90000,1,1,0,Unknown,0.00000,0.000000,0.000000,4
78023,10090430,Exterior Accessories,Car Accessories,Southeast,Fields Sales,0,Loss,2,0,0,120000,1,1,0,Unknown,1.00000,0.000000,0.000000,5
78024,10094255,Interior Accessories,Car Accessories,Mid-Atlantic,Reseller,0,Loss,1,0,0,90000,1,1,0,Unknown,0.00000,0.000000,0.000000,4

In [4]:
df.shape

(78025, 19)

In [5]:
df.describe()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
count,7.802500e+04,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000
mean,7.653429e+06,43.595348,2.955732,16.728356,16.314348,91637.260750,1.620481,1.604050,0.303287,0.203063,0.488314,0.185048,3.436745
std,1.054848e+06,26.585600,1.497242,16.729593,16.562597,133161.029157,1.235796,1.210744,0.930290,0.364985,0.448077,0.340283,1.656890
min,1.641984e+06,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,6.900423e+06,19.000000,2.000000,4.000000,4.000000,15000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,7.545569e+06,43.000000,3.000000,12.000000,12.000000,49000.000000,1.000000,1.000000,0.000000,0.000000,0.448000,0.000000,3.000000
75%,8.228329e+06,65.000000,3.000000,24.000000,24.000000,105099.000000,1.000000,1.000000,0.000000,0.197225,1.000000,0.188552,5.000000
max,1.009427e+07,210.000000,23.000000,208.000000,208.000000,1000000.000000,5.000000,5.000000,4.000000,1.000000,1.000000,1.000000,7.000000

In [6]:
df.isnull().sum()

Opportunity Number                         0
Supplies Subgroup                          0
Supplies Group                             0
Region                                     0
Route To Market                            0
Elapsed Days In Sales Stage                0
Opportunity Result                         0
Sales Stage Change Count                   0
Total Days Identified Through Closing      0
Total Days Identified Through Qualified    0
Opportunity Amount USD                     0
Client Size By Revenue                     0
Client Size By Employee Count              0
Revenue From Client Past Two Years         0
Competitor Type                            0
Ratio Days Identified To Total Days        0
Ratio Days Validated To Total Days         0
Ratio Days Qualified To Total Days         0
Deal Size Category                         0
dtype: int64

In [7]:
Counter(df['Supplies Subgroup'])

Counter({'Exterior Accessories': 13876,
         'Motorcycle Parts': 15174,
         'Shelters & RV': 9606,
         'Garage & Car Care': 9733,
         'Batteries & Accessories': 9192,
         'Performance Parts': 2545,
         'Towing & Hitches': 3818,
         'Replacement Parts': 7666,
         'Tires & Wheels': 609,
         'Interior Accessories': 5525,
         'Car Electronics': 281})

In [8]:
Counter(df['Supplies Group'])

Counter({'Car Accessories': 49810,
         'Performance & Non-auto': 27325,
         'Tires & Wheels': 609,
         'Car Electronics': 281})

In [9]:
Counter(df['Region'])

Counter({'Northwest': 9552,
         'Pacific': 15142,
         'Midwest': 21020,
         'Southwest': 8153,
         'Mid-Atlantic': 7568,
         'Northeast': 7358,
         'Southeast': 9232})

In [11]:
Counter(df['Route To Market'])

Counter({'Fields Sales': 37262,
         'Reseller': 34758,
         'Other': 2856,
         'Telesales': 2530,
         'Telecoverage': 619})

In [12]:
Counter(df['Elapsed Days In Sales Stage'])

Counter({76: 618,
         63: 1107,
         24: 1233,
         16: 5010,
         69: 426,
         89: 1184,
         111: 7,
         82: 702,
         68: 463,
         18: 1220,
         87: 549,
         35: 1226,
         81: 976,
         79: 695,
         83: 778,
         65: 945,
         91: 1051,
         62: 1738,
         73: 912,
         86: 752,
         60: 562,
         72: 686,
         44: 2388,
         1: 667,
         49: 1098,
         138: 1,
         77: 529,
         45: 1238,
         85: 541,
         54: 1124,
         84: 899,
         78: 469,
         74: 1020,
         64: 976,
         88: 652,
         90: 870,
         7: 1629,
         70: 477,
         37: 1412,
         28: 1173,
         101: 23,
         80: 435,
         75: 613,
         95: 65,
         26: 1135,
         38: 602,
         47: 922,
         93: 131,
         135: 1,
         56: 715,
         67: 683,
         57: 559,
         59: 488,
         29: 701,
         43: 735,
         5: 524,
         41: 952,
         120: 6,
         66: 644,
         128: 5,
         58: 777,
         48: 685,
         17: 905,
         23: 1455,
         25: 749,
         53: 735,
         36: 665,
         27: 1115,
         20: 799,
         33: 373,
         102: 6,
         129: 4,
         51: 556,
         148: 1,
         30: 731,
         92: 135,
         115: 5,
         137: 1,
         9: 1058,
         46: 862,
         116: 4,
         127: 1,
         110: 20,
         119: 17,
         61: 534,
         10: 732,
         121: 6,
         42: 658,
         71: 520,
         55: 807,
         22: 643,
         21: 841,
         132: 1,
         94: 45,
         131: 1,
         118: 5,
         107: 6,
         125: 2,
         106: 2,
         105: 2,
         31: 330,
         130: 2,
         123: 2,
         34: 430,
         100: 20,
         126: 2,
         4: 696,
         52: 475,
         39: 745,
         50: 449,
         122: 4,
         97: 18,
         124: 1,
         113: 3,
         112: 4,
         109: 7,
         40: 721,
         114: 3,
         32: 543,
         6: 575,
         104: 3,
         19: 660,
         0: 934,
         98: 13,
         96: 17,
         15: 470,
         8: 393,
         14: 803,
         103: 5,
         99: 16,
         12: 659,
         13: 531,
         3: 631,
         11: 797,
         2: 653,
         210: 2,
         134: 1,
         108: 1})

In [14]:
Counter(df['Opportunity Result'])

Counter({'Won': 17627, 'Loss': 60398})

In [20]:
df_new = pd.get_dummies(df.drop(['Competitor Type','Supplies Subgroup','Supplies Group','Region','Route To Market'],axis=1),drop_first=True)

In [21]:
df_new.head()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,Opportunity Result_Won
0,1641984,76,13,104,101,0,5,5,0,0.69636,0.113985,0.154215,1,1
1,1658010,63,2,163,163,0,3,5,0,0.00000,1.000000,0.000000,1,0
2,1674737,24,7,82,82,7750,1,1,0,1.00000,0.000000,0.000000,1,1
3,1675224,16,5,124,124,0,1,1,0,1.00000,0.000000,0.000000,1,0
4,1689785,69,11,91,13,69756,1,1,0,0.00000,0.141125,0.000000,4,0

In [22]:
X = df_new.drop(['Opportunity Result_Won'],axis=1)
y = df_new['Opportunity Result_Won']

In [23]:
X.head()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
0,1641984,76,13,104,101,0,5,5,0,0.69636,0.113985,0.154215,1
1,1658010,63,2,163,163,0,3,5,0,0.00000,1.000000,0.000000,1
2,1674737,24,7,82,82,7750,1,1,0,1.00000,0.000000,0.000000,1
3,1675224,16,5,124,124,0,1,1,0,1.00000,0.000000,0.000000,1
4,1689785,69,11,91,13,69756,1,1,0,0.00000,0.141125,0.000000,4

In [24]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Opportunity Result_Won, dtype: uint8

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [28]:
X_train.shape

(58518, 13)

In [29]:
X_test.shape

(19507, 13)

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()

In [33]:
scaler.fit(X)

StandardScaler()

In [34]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [35]:
X_train[:5]

array([[-0.26128747,  0.01522083, -0.63833238,  0.55420972,  0.58479442,
        -0.10611476, -0.50209293, -0.49891117, -0.32601603, -0.55636453,
         1.14196725, -0.54380896,  0.33994955],
       [ 0.29871541,  0.05283542, -0.63833238, -0.88038308, -0.86426302,
        -0.68817317, -0.50209293, -0.49891117, -0.32601603,  2.18349526,
        -1.089806  , -0.54380896, -1.47068325],
       [-1.50024386,  1.74549188,  1.36536413,  0.85308322,  0.88668139,
        -0.57552688, -0.50209293, -0.49891117, -0.32601603, -0.36894716,
         0.98930504, -0.54380896, -0.86713899],
       [-1.1202738 , -0.73707093,  0.02956645, -0.76083368, -0.74350823,
        -0.5717645 , -0.50209293, -0.49891117, -0.32601603, -0.55636453,
         1.14196725, -0.54380896, -0.86713899],
       [ 2.00204605, -1.33890434,  0.02956645, -0.76083368, -0.74350823,
         0.13789963, -0.50209293, -0.49891117, -0.32601603, -0.55636453,
         0.37989926,  0.45966499,  0.94349381]])

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
clf = LogisticRegression()
clf.fit(X_train,y_train)

LogisticRegression()

In [38]:
predictions = clf.predict(X_test)

In [39]:
from sklearn.metrics import classification_report,confusion_matrix

In [40]:
print(confusion_matrix(y_test,predictions))

[[14224   946]
 [ 2304  2033]]

In [41]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.86      0.94      0.90     15170
           1       0.68      0.47      0.56      4337

    accuracy                           0.83     19507
   macro avg       0.77      0.70      0.73     19507
weighted avg       0.82      0.83      0.82     19507